body {
    background-color: pink;
    }

@media screen and (min-width: 715px) {
    body {
        background-color: lime;
    }
    }

@media screen and (max-width: 960px) {
    body {
        background-color: black;
    }
    }